<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <title>{% block title %}Sentiment Prediction{% endblock %}</title>
</head>

<body>
    <div id="header">
        <a href="/" class="logo">Predict Text Sentiment</a>
    </div>
    <div id="subheader">
        <div class="cart">
            Sentiment Analysis
        </div>
    </div>
    <div id="content">{% block content %} {% endblock %}
    </div>
</body>

</html>